@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
// Globals
$body-font-family: "Poppins", sans-serif !default;
$border-radius-root: 3px;

$box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
